<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="usuario-creado">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>El usuario ya existe</h1>



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UsuarioCreado extends Polymer.Element {
      static get is() { return 'usuario-creado'; }
      static get properties() {
        return {

        };
      }
      ready(){
        super.ready();
        if(parseInt(Math.floor(Date.now() / 1000)-sessionStorage.getItem("timestamp"))>60){
          window.location = "/logout";
        }
        sessionStorage.setItem("timestamp", Math.floor(Date.now() / 1000));
      }


    }

    window.customElements.define(UsuarioCreado.is, UsuarioCreado);
  </script>
</dom-module>
