<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="login-usuario">
  <template>
    <style>:host {display: block;}</style>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <div class="row">
      <div class="container">
      	<div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Escribe tu usuario y contraseña</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Email" name="email" type="email" value="{{email::input}}" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Contraseña" value="{{password::input}}" name="password" type="password">
                                </div>
                                <button type="button" class="btn btn-success btn-block" on-click="login">Login</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
              </div>
          </div>
      </div>
    </div>
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      >
    </iron-ajax>
  </template>
  <script>
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          password:{type: String},
          email:{type: String},
          isLogged:{type: Boolean,value: false}
        };
      }
      ready(){
        super.ready();
        console.log(sessionStorage.getItem("id"));
        sessionStorage.setItem("timestamp", Math.floor(Date.now() / 1000));
      }
      login(){
        console.log("El usuario ha pulsado el botón");
        var loginData={
          "email": this.email,
          "password":this.password
        }
        this.$.doLogin.body = JSON.stringify(loginData); //convertimos los datos a JSON
        this.$.doLogin.generateRequest(); //lanzamos la petición
      }
      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response);
        this.isLogged=true;
        sessionStorage.setItem("email", this.email);
        sessionStorage.setItem("password", this.password);
        sessionStorage.setItem("id", data.detail.response.id);
        sessionStorage.setItem("first_name", data.detail.response.first_name);
        sessionStorage.setItem("last_name", data.detail.response.last_name);
        sessionStorage.setItem("timestamp", Math.floor(Date.now() / 1000));

        window.location = "/user/";
      }
      showError(error){
        console.log("Hubo error");
        console.log(error);
        sessionStorage.clear();
        window.location = "/usuarionoexiste" ;

      }
    }
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
