<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-movimientos">
  <template>
    <style>:host {display: block;}</style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <h1 class="col-md-12">Movimientos de la cuenta [[iban]] con saldo {{balance}} €</h1>
    </div>
    <div hidden={{!rojos}} class="row">
      <h1 class="col-md-12 text-danger">Cuidado, tu cuenta está en números rojos</h1>
    </div>
    <div hidden={{!divisa}} class="row">
      <h1 class="col-md-12 text-info">Tu saldo en dólares es {{balance_usd}} $</h1>
    </div>
    <div class="col-md-12 text-center"><a href="/user/" class="btn btn-outline-info btn-lg" role="button">Inicio</a>
    <a href="/user/ingreso" class="btn btn-outline-warning btn-lg" role="button">Realizar movimiento</a>
    <button type="button" class="btn btn-outline-danger btn-lg" on-click="cambioDivisa">Ver en dólares</button></div>

    <div class="row col-md-12">
        <table class="table table-striped col-md-12">
            <tr>
              <th>Fecha</th>
              <th>Concepto</th>
              <th>Tipo</th>
              <th>Cantidad</th>
            </tr>
            <template is="dom-repeat" items="{{movs}}">
              <tr>
                <td>{{item.fecha}}</td>
                <td>{{item.concepto}}</td>
                <td>{{item.tipo}}</td>
                <td>{{item.cantidad}} €</td>
              </tr>
            </template>
        </table>
    </div>

    <iron-ajax
      auto=""
      id="getMov"
      url="http://localhost:3000/apitechu/v2/user/{{iban}}/mov"
      handle-as="json"
      on-response="showData">
    </iron-ajax>

    <iron-ajax
      auto=""
      id="getBal"
      url="http://localhost:3000/apitechu/v2/user/{{iban}}/bal"
      handle-as="json"
      on-response="showBal">
    </iron-ajax>

    <iron-ajax
        id="cambioDivisaAPI"
        url="http://free.currencyconverterapi.com/api/v5/convert?q=EUR_USD&compact=y";
        on-response="showDataAPI">
      </iron-ajax>
  </template>
  <script>
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          iban:{type: String},
          concepto:{type: String},
          cantidad:{type: Number},
          tipo:{type: String},
          id:{type: Number},
          movs:{type: Array},
          balance:{type: Number},
          rojos:{type:Boolean, value:false},
          divisa:{type:Boolean, value:false},
          balance_usd:{type: Number}
        };
      }
      ready(){
        super.ready();
        if(parseInt(Math.floor(Date.now() / 1000)-sessionStorage.getItem("timestamp"))>60){
          window.location = "/logout";
        }
        sessionStorage.setItem("timestamp", Math.floor(Date.now() / 1000));
        this.id=sessionStorage.getItem("id");
      }
      showData(data){
        console.log(data);
        this.movs=data.detail.response;
        sessionStorage.setItem("iban", this.iban);
      }
      showBal(data){
        console.log(" data detail es "+data.detail.response.USERID+" id es "+sessionStorage.getItem("id"));
        if(data.detail.response.USERID != sessionStorage.getItem("id")){
          window.location = "/logout";
        }
        this.balance=data.detail.response.BALANCE;
        //sessionStorage.setItem("balance", this.balance);
        console.log("balance "+this.balance);
        if(this.balance<0) {
          console.log("cambio rojos");
          this.rojos=true;
        }
      }
      cambioDivisa(){
        console.log("entro en cambio divisa");
        this.$.cambioDivisaAPI.generateRequest(); //lanzamos la petición
      }
      showDataAPI(data){
        console.log("salgo de cambio divisa " + data.detail.response.EUR_USD.val);
        this.balance_usd=(this.balance*data.detail.response.EUR_USD.val).toFixed(2);
        this.divisa=true;
      }
    }
    window.customElements.define(VisorMovimientos.is,VisorMovimientos);
  </script>
</dom-module>
