<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="visor-cuentas">
  <template>
    <style>:host {display: block;}</style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div hidden$=[[prohibido]] class="row">
      <h1 class="col-md-12">Cuentas de [[name]]</h1>
    </div>
    <div hidden$=[[!prohibido]] class="row">
      <h1 class="col-md-12">Por favor, haz login</h1>
    </div>
    <div hidden$=[[prohibido]] class="row col-md-12">
      <table data-link="row" class="table table-striped">
        <tr>
          <th>IBAN</th>
          <th>Saldo</th>
        </tr>
        <template is="dom-repeat" items="{{accounts}}" as="cuenta">
          <tr>
            <td><a href="\user\{{cuenta.IBAN}}\mov">{{cuenta.IBAN}}</a></td>
            <td>{{cuenta.BALANCE}} €</td>
          </tr>
        </template>
      </table>
    </div>
    <div hidden$=[[prohibido]] class="col-md-6 text-center">
      <a href="/user/{{id}}" class="btn btn-outline-info btn-lg" role="button">Atrás</a>
    </div>

    <iron-ajax
      auto=""
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts"
      handle-as="json"
      on-response="showData">
    </iron-ajax>
  </template>

  <script>
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          IBAN:{type: String},
          id:{type: Number},
          BALANCE:{type: Number},
          accounts:{type: Array},
          name:{type: String},
          prohibido:{type: Boolean,value:true}
        };
      }
      ready(){
        super.ready();
        this.id=parseInt(sessionStorage.getItem("id"));
        console.log("usuario es ")
        console.log(this.id);
        if(parseInt(Math.floor(Date.now() / 1000)-sessionStorage.getItem("timestamp"))>60){
          window.location = "/logout";
        }
        sessionStorage.setItem("timestamp", Math.floor(Date.now() / 1000));
        console.log("usuario es ")
        console.log(this.id);
        if(this.id==sessionStorage.getItem("id")) {this.prohibido=false;}
      }
      showData(data){
        console.log(data.detail.response);
        this.accounts=data.detail.response;
        this.name=sessionStorage.getItem("first_name");
      }
    }
    window.customElements.define(VisorCuentas.is,VisorCuentas);
  </script>
</dom-module>
