<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="nuevo-usuario">
  <template>
    <style>:host {display: block;}</style>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <div class="row">
      <div class="container">
      	<div class="row">
              <div class="col-md-4 col-md-offset-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title">Escribe tus datos de usuario</h3>
                      </div>
                      <div class="panel-body">
                          <form role="form">
                              <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Nombre" name="name" type="text" value="{{first_name::input}}" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Apellido" name="name" type="text" value="{{last_name::input}}" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Email" name="email" type="email" value="{{email::input}}" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Contraseña" value="{{password::input}}" name="password" type="password">
                                </div>
                                <button type="button" class="btn btn-success btn-block" on-click="registro">Registro</button>
                              </fieldset>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    <iron-ajax
      id="registro"
      url="http://localhost:3000/apitechu/v2/users/new"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      >
    </iron-ajax>

  </template>
  <script>
    class NuevoUsuario extends Polymer.Element {
      static get is() { return 'nuevo-usuario'; }
      static get properties() {
        return {
          password:{type: String},
          email:{type: String},
          isLogged:{type: Boolean,value: false},
          first_name:{type: String},
          last_name:{type: String}
        };
      }
      ready(){
        super.ready();        
        sessionStorage.setItem("timestamp", Math.floor(Date.now() / 1000));
      }
      registro(){
        console.log("El usuario ha pulsado el botón de registro");
        var newUser={
          "email": this.email,
          "password":this.password,
          "last_name": this.last_name,
          "first_name": this.first_name
        }
        console.log(newUser);
        this.$.registro.body = JSON.stringify(newUser); //convertimos los datos a JSON
        this.$.registro.generateRequest(); //lanzamos la petición
        console.log("Petición registro enviada");
      }
      manageAJAXResponse(data){
        console.log("Recibida respuesta de registro del servidor");
        console.log("respuesta es "+ data.detail.response);
        sessionStorage.setItem("email", this.email);
        sessionStorage.setItem("password", this.password);
        sessionStorage.setItem("last_name", this.last_name);
        sessionStorage.setItem("first_name", this.first_name);

        if(data.detail.response.msg=="El usuario ya existe"){
           window.location = "/usuariocreado";
        }
        else{
          sessionStorage.setItem("id", data.detail.response.id);
          window.location = "/user/" +  data.detail.response.id;
        }
      }
      showError(error){
        console.log("Hubo error");
        console.log(error);
      }
    }
    window.customElements.define(NuevoUsuario.is, NuevoUsuario);
  </script>
</dom-module>
