<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>:host {display: block;}</style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div $hidden={{prohibido}} class="row text-center">
      <h1 class="col-md-12">Bienvenido [[first_name]] [[last_name]], ¿qué quiere hacer?</h1>
      <div class="col-md-6 text-center"><a href="/user/accounts" class="btn btn-outline-info btn-lg" role="button">Ver mis cuentas</a></div>
      <div class="col-md-6 text-center"><a href="/user/ingreso" class="btn btn-outline-warning btn-lg" role="button">Nuevo movimiento</a></div>
    </div>

    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData">
    </iron-ajax>
  </template>
  <script>
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario';}
      static get properties() {
        return {
          id:{type: Number},
          email:{type: String},
          first_name:{type: String},
          last_name:{type: String},
          prohibido:{type:Boolean,value:false}
        };
      }
      ready(){
        super.ready();
        this.$.id=sessionStorage.getItem("id");
        console.log(this.$.id);
        if("NaN"==this.$.id) {
          console.log("usuario deslogado, por favor, logate");
          window.location = "/login";
        }
        if(parseInt(Math.floor(Date.now() / 1000)-sessionStorage.getItem("timestamp"))>60){
          window.location = "/logout";
        }
        sessionStorage.setItem("timestamp", Math.floor(Date.now() / 1000));
      }
      showData(data){
        this.first_name=sessionStorage.getItem("first_name");
        this.last_name=sessionStorage.getItem("last_name");
    //    this.email=data.detail.response[0].email;

      }
    }
    window.customElements.define(VisorUsuario.is,VisorUsuario);
  </script>
</dom-module>
