<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="usuario-noexiste">
  <template>
    <style>:host {display: block;}</style>
    <h1>El usuario no existe, si quieres, puedes registrarte</h1>
  </template>
  <script>
    class UsuarioNoexiste extends Polymer.Element {
      static get is() { return 'usuario-noexiste'; }
      static get properties() {
        return {};
      }
    }
    window.customElements.define(UsuarioNoexiste.is, UsuarioNoexiste);
  </script>
</dom-module>
