<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
  <template>
    <style>:host {display: block;}</style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/apitechu/v2/logout"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      >
    </iron-ajax>

  </template>
  <script>
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          password:{type: String},
          email:{type: String},
          isLogged:{type: Boolean,value: false},
          id:{type: Number}
        };
      }
      ready(){
        super.ready();
        console.log("Deslogando al usuario");
        this.id=sessionStorage.getItem("id");
        console.log(this.id);
        var logoutData={"id": this.id}
        console.log(logoutData);
        this.$.doLogout.body = JSON.stringify(logoutData); //convertimos los datos a JSON
        this.$.doLogout.generateRequest(); //lanzamos la petición
        console.log("Petición logout enviada");
        sessionStorage.clear();
      }
      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response);
        this.isLogged=false;
        window.location = "/login";
      }
      showError(error){
        console.log("Hubo error");
        console.log(error);
        window.location = "/login";
      }
    }
    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
