<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="nuevo-ingreso">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <div class="row">
      <div class="container">
      	<div class="row">
              <div class="col-md-4 col-md-offset-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title">Indica los datos de tu movimiento</h3>
                      </div>
                      <div class="panel-body">
                          <form role="form">
                              <fieldset>
                                <div class="form-group">
                                  <select placeholder="Cuenta" name="cuenta" class="form-control" value="{{cuenta::change}}">
                                    <option>Selecciona la cuenta</option>
                                     <template is="dom-repeat" items="{{accounts}}" as="cuenta">
                                        <option>{{cuenta.IBAN}}</option>
                                     </template>
                                  </select>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Concepto" name="concepto" type="text" value="{{concepto::input}}" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Cantidad" name="cantidad" type="number" value="{{cantidad::input}}" autofocus>
                                </div>
                                  <select placeholder="tipo" name="tipo" class="form-control" value="{{tipo::input}}">
                                    <option>Selecciona tipo de movimiento</option>
                                    <option>Ingreso</option>
                                    <option>Reintegro</option>
                                  </select>
                                </div>
                                <div>
                                  <button type="button" class="btn btn-success btn-block" on-click="ingreso">Adelante</button>
                                  <button type="button" class="btn btn-danger btn-block" on-click="atras">Cancelar</button>
                                </div>
                              </fieldset>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    <iron-ajax
        auto=""
        id="cogeCuentas"
        url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts"
        handle-as="json"
        on-response="showData">
    </iron-ajax>

    <iron-ajax
      id="ingreso"
      url="http://localhost:3000/apitechu/v2/user/{{cuenta}}/ingreso"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      >
    </iron-ajax>
  </template>

  <script>

    class NuevoIngreso extends Polymer.Element {
      static get is() { return 'nuevo-ingreso'; }
      static get properties() {
        return {
          cuenta:{type: String},
          concepto:{type: String},
          accounts:{type: Array},
          cantidad:{type: Number},
          tipo:{type:String},
          id:{type:Number}
        };
      }
      ready(){
        super.ready();
        if(parseInt(Math.floor(Date.now() / 1000)-sessionStorage.getItem("timestamp"))>60){
          window.location = "/logout";
        }
        sessionStorage.setItem("timestamp", Math.floor(Date.now() / 1000));
        this.id=sessionStorage.getItem("id");
      }
      atras(){
        window.location = "/user/";
      }
      ingreso(){
        console.log("El usuario ha hecho un ingreso");
        var movimiento={
          "tipo": this.tipo,
          "cantidad": this.cantidad,
          "concepto": this.concepto
        }
        console.log(movimiento);
        console.log(this.cuenta);
        this.$.ingreso.body = JSON.stringify(movimiento); //convertimos los datos a JSON
        this.$.ingreso.generateRequest(); //lanzamos la petición
        console.log("Petición movimiento enviada");
      }
      showData(data){
        this.accounts=data.detail.response;
      }
      manageAJAXResponse(data){
        console.log("Recibida respuesta de movimiento del servidor");
        console.log(data.detail.response);
        window.location = "/user/"+this.cuenta+"/mov" ;
      }
      showError(error){
        console.log("Hubo error");
        console.log(error);
      }
    }

    window.customElements.define(NuevoIngreso.is, NuevoIngreso);
  </script>
</dom-module>
